In [1]:
import pandas as pd
from load_file import load_file

In [42]:
json_data = {}
for file in ["vakken", "zalen"]:
    json_data[file] = load_file(file)

display(json_data["vakken"]["#Hoorcolleges"]["25"])

1

In [3]:
df_vakken = pd.read_csv("../data/vakken.csv")
df_zalen = pd.read_csv("../data/zalen.csv")
display(df_vakken.head(10), df_zalen)

,Vak,#Hoorcolleges,#Werkcolleges,Max. stud. Werkcollege,#Practica,Max. stud. Practicum,Verwacht
0,Advanced Heuristics,1,0,NaN,1,10.0,22
1,Algoritmen en complexiteit,1,1,25.0,1,25.0,47
2,Analysemethoden en -technieken,1,0,NaN,0,NaN,60
3,Architectuur en computerorganisatie,2,0,NaN,0,NaN,19
4,Autonomous Agents 2,2,1,10.0,1,10.0,19
5,Bioinformatica,3,1,20.0,1,20.0,40
6,Calculus 2,1,1,40.0,0,NaN,90
7,Collectieve Intelligentie,3,1,20.0,1,20.0,65
8,Compilerbouw,2,1,40.0,1,40.0,70
9,Compilerbouw practicum,0,0,NaN,1,15.0,35

  Zaalnummber  Max. capaciteit
0       A1.04               41
1       A1.06               22
2       A1.08               20
3       A1.10               56
4      B0.201               48
5      C0.110              117
6      C1.112               60

Assign minimum room size to each Hoorcollege based on expected # of students

greedy?

step 1: find smallest room

step 2: find first available space

step 3: place

In [47]:
from schedule import scheduler

schedule = scheduler()

schedule[0]

              Monday Tuesday Wednesday Thursday Friday
9:00 - 11:00     NaN     NaN       NaN      NaN    NaN
11:00 - 13:00    NaN     NaN       NaN      NaN    NaN
13:00 - 15:00    NaN     NaN       NaN      NaN    NaN
15:00 - 17:00    NaN     NaN       NaN      NaN    NaN
17:00 - 19:00    NaN     NaN       NaN      NaN    NaN

In [13]:
df_vakken["Verwacht"]

0     22
1     47
2     60
3     19
4     19
5     40
6     90
7     65
8     70
9     35
10    30
11    69
12    44
13    30
14    40
15    31
16    70
17    50
18    25
19    60
20    50
21    95
22    40
23    40
24    53
25    75
26    50
27    46
28    45
Name: Verwacht, dtype: int64

In [52]:
for expected in df_vakken["Verwacht"]:
    # bob = next(df_zalen.index[df_zalen["Max. capaciteit"] == i][0] for i in sorted(df_zalen["Max. capaciteit"]) if i >= expected)
    bob = [df_zalen[df_zalen["Max. capaciteit"] == i].sort_values("Max. capaciteit", ascending=True) for i in df_zalen["Max. capaciteit"] if i >= expected]
    print(bob)

[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
1       A1.06               22,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
1       A1.06               22,   Zaalnummber  Max. capaciteit
2       A1.08               20,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
1       A1.06               22,   Zaalnummber  Max. capaciteit
2       A1.08               20,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
0       A1.04               41,   Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
5      C0.110              117]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]
[  Zaalnummber  Max. capaciteit
3       A1.10               56,   Zaalnummber  Max. capaciteit
4      B0.201               48,   Zaalnummber  Max. capaciteit
5      C0.110              117,   Zaalnummber  Max. capaciteit
6      C1.112               60]